html {
    height: 100vh;
    margin: 0;
    overflow: auto;
}

body {
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    background-color: slategray;
}

.nav-list-item {
    text-decoration: none;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -52px;
}

.row {
    display: flex;
    flex-direction: row wrap;
    width: 100%;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.nav-container {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0%;
    height: 50px;
    width: 100%;
    border: 1px black ridge;
    background-color: orangered;
}

.nav-items-container {
    display: inline-block;
    margin-right: 40px;
}

.logo-container {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 300px;
    width: 550px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: teal;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-text-container {
    display: flex;
    justify-content: center;
}

ul {
    padding-inline-start: 0%;
}

.auth-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.auth-buttons-container-two {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.auth-buttons-container-three {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.registration-container {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 500px;
    width: 350px;
    background-color: white;
    border: 2px solid black;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sign-in-container {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 300px;
    width: 350px;
    background-color: white;
    border: 2px solid black;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.watchlists-header-container {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.watchlists-list-container {
    position: fixed;
    height: 450px;
    width: 550px;
    border: 2px solid black;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.stock-id-element {
    display: inline;
    margin-right: 5px;
}

@media screen and (max-width: 650px) {
    /* .nav-items-container {
        position: fixed;
        top: 10%;
        left: 75%;
        transform: translate(-50%, -50%);
    } */

    
    .watchlists-list-container {
        height: 250px;
        width: 325px;
    }

    .watchlist-button-container {
        display: flex;
        flex-flow: column nowrap;
        /* width: 50px; */
    }

    .view-watchlist-details-button {
        margin-bottom: 5px;
    }

    .delete-watchlist-button {
        margin-top: 5px;
    }
    
}

.watchlist {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}

.watchlist-container {
    position: fixed;
    height: 450px;
    width: 420px;
    border: 2px solid black;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.watchlist-header-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.watchlist-stock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid black;
    border-right: none;
    border-left: none;
    border-top: none;
    padding: 5px;
}

.watchlist-stock-summary-button {
    margin-right: 2.5px;
}

.watchlist-stock-delete-button {
    margin-left: 2.5px;
}

/* .watchlist-stocks-list-container {
    display: block;
}

.watchlist-item-div {
    display: block;
} */

#addWatchlistId {
    /* border-right: 5px; */
    margin-right: 5px;
}

/* .watchlist-name-container { */
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    /* width: 150px; */
    /* margin-left: 5px; */
/* } */

#watchlistId {
    margin-right: 5px;
    display: inline;
 }

.watchlist-name-label {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}

/* .watchlist-description-container { */
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    /* width: 300px; */
    /* margin-left: 5px; */
/* } */

.watchlist-description-label {
    display: inline;
    margin-left: 175px;
}


.watchlist-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchlist-stock-button-container {
    display: inline-block;
}

.view-watchlist-details-button {
    margin-right: 2.5px;
}


.delete-watchlist-button {
    margin-left: 2.5px;
}

.return-watchlists-button-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create-watchlists-container {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 300px;
    width: 350px;
    border: 2px solid black;
    background-color: white;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create-watchlist-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-watchlists-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.search-stocks-page-button-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    bottom: 10%;
}

.search-stocks-container {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 100px;
    width: 250px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-stocks-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.matching-stock-overview-header-container {
    position: fixed;
    display: block;
    justify-content: center;
    align-items: center;
    border-top: none;
    border-left: none;
    border-right: none;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.matching-stock-overview-header-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.matching-stock-overview-data-column-one {
    margin-left: 5px;
    margin-right: 5px;
}

.matching-stock-overview-data-column-two {
    margin-left: 5px;
    margin-right: 5px;
}

.matching-stock-container {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 250px;
    width: 500px;
    background-color: greenyellow;
    border: 2px solid black;
    border-radius: 8px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

.choose-watchlist-to-add-container {
    position: fixed;
    /* display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center; */
    height: 400px;
    width: 400px;
    background-color: greenyellow;
    border: 2px solid black;
    margin: 0 auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 75%;
    overflow: auto;
}

.add-to-watchlist-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
}

.cancel-choose-watchlist-button {
    position: sticky;
    left: 95%;
    transform: translate(-25%, -25%);
}

.matching-stock-name-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.matching-stock-exchange-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.matching-stock-quote-price-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px
}

.matching-stock-quote-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-left: 50px;
}

.matching-stock-overview-container {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    height: 400px;
    width: 500px;
    border: 2px solid black;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.matching-stock-previous-close-container,
.matching-stock-open-price-container,
.matching-stock-current-price-container,
.matching-stock-high-price-container,
.matching-stock-low-price-container,
.matching-stock-daily-price-range-container,
.matching-stock-weekly-price-range-container,
.matching-stock-volume-container,
.matching-stock-average-volume-container,
.matching-stock-market-capitalization-container,
.matching-stock-beta-container,
.matching-stock-pe-ratio-container,
.matching-stock-eps-container,
.matching-stock-dividend-yield-container,
.matching-stock-dividend-per-share-container,
.matching-stock-return-on-assets-container,
.matching-stock-return-on-equity-container
{
    display: flex;
    height: 40px;
    border: 1px solid black;
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.matching-stock-previous-close-label,
.matching-stock-open-price-label,
.matching-stock-current-price-label,
.matching-stock-high-price-label,
.matching-stock-low-price-label,
.matching-stock-daily-price-range-label,
.matching-stock-weekly-price-range-label,
.matching-stock-volume-label,
.matching-stock-average-volume-label,
.matching-stock-market-capitalization-label,
.matching-stock-beta-label,
.matching-stock-pe-ratio-label,
.matching-stock-eps-label,
.matching-stock-dividend-yield-label,
.matching-stock-dividend-per-share-label,
.matching-stock-return-on-assets-label,
.matching-stock-return-on-equity-label {
    margin-left: 5px;
    margin-right: 5px;
}

.see-matching-stock-charts-button-container { 
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 45px;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
}

.go-to-previous-page-from-summary-button {
    margin-right: 10px;
}

.bullet-point {
    text-decoration: none;
}

.return-watchlists-page-button-container {
    position: fixed;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 100px;
    width: 250px;
    margin: 0 auto;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    border: 1px solid black;
    background-color: orangered;
}

.footer-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 50px;
}
  
.view {
    display: flex;
}

.hidden {
    display: none;
}