#text {
    color: black;
    fill: black;
}

/* #text[Attributes Style] {
    text-anchor: end;
    font-family: Arial;
    font-size: 11;
    stroke: none;
    stroke-width: 0;
    fill: rgb(68, 68, 68);
} */

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


@media screen and (max-width: 750px) {
    .nav-list-items {
        display: none;
    }

    .nav-list-items-two {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        background-color: olivedrab;
        border: 2px solid black;
        width: 150px;
        left: 100%;
        margin-left: -75px;
        transform: translate(-50%, -50%);
        padding-top: 10px;
        z-index: 10;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (min-width: 755px) {
    .nav-list-items-two {
        display: none;
    }
    .hamburger {
        display: none;
    }
}
a, a:visited, a:hover, a:active {
    color: inherit;
}

a#title-link-home {
    color: white;
}

a#link-to-registration-form {
    color: black
}

.watchlists-page-from-sign-in-button,
.register-new-customer-button {
    margin-left: 5px
}

.previous-page-from-registration-button,
.previous-page-from-sign-in-button {
    margin-right: 5px;
}

a#watchlists-link,
a#financials-link,
a#news-link,
a#profile-link,
a#title-link-home,
a#link-to-registration-form,
a#registration,
a#registration-link,
#link-to-sign-in-form,
a#previous-page-from-registration-link,
a#home-page-from-registration-link,
a#previous-page-from-sign-in-link,
a#watchlists-page-from-sign-in-link,
a#sign-out-link,
#viewWatchlistDetailsLink,
#createWatchlistsFormLink,
#cancelCreateWatchlistLink,
a#createWatchlistLink,
a#searchStocksPageLink,
a#seeMatchingStockChartsLink,
a#returnWatchlistsPageLink,
a#addStockToWatchlistLink,
a#seeMatchingStockDetailsLink,
a#goToPreviousPageFromSummaryLink {
    text-decoration: none;
}

a#watchlists-link,
a#financials-link,
a#news-link,
a#profile-link {
    font-size: larger;
    color: white;
    cursor: pointer;
}

a#watchlists-link:active,
a#financials-link:active,
a#news-link:active,
a#profile-link:active {
    color: cyan;
}

@media screen and (max-width: 750px) {
    a#watchlists-link,
    a#financials-link,
    a#news-link,
    a#profile-link {
        display: flex;
        justify-content: flex-start;
        color: white;
        width: 100%;
        margin-left: 10px;
        margin-bottom: 2px;
    }  

    /* a#watchlists-link:active,
    a#financials-link:active,
    a#news-link:active,
    a#profile-link:active {
        background-color: cyan;
    } */
}

h1.logo {
    display: flex;
    background-color: olivedrab;
    border: 0.5px ridge black;
    border-radius: 8%;
    color: black;
    padding: 10px;
}

h2.title {
    display: inline-block;
    color: white;
    margin-left: 20px;
}

h3#matchingStockOverviewHeader {
    height: 20px;
    /* margin-bottom: 25px; */
}

li.nav-list-item {
    display: inline;
    margin-left: 80px;
    margin-bottom: 15px;
    padding-bottom: 4px;
}

@media screen and (max-width: 750px) {
    li.nav-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    }
}

#sign-in-button {
    height: 20px;
    width: 75px;
    margin-right: 5px;
}

#register-button {
    height: 20px;
    width: 75px;
    margin-left: 5px;
}

#sign-out-button {
    position: fixed;
    display: block;
    bottom: 10%;
    right: 10%;
    height: 20px;
    width: 75px;
}

#createWatchlistsButton {
    margin-left: 20px;
}

#createWatchlistNameInputLabelEl,
#createWatchlistDescriptionInputLabelEl {
    display: block;
}

#createWatchlistDescriptionInputLabelEl {
    margin-top: 5px;
}

/* table#watchlistsTable {
    display: flex;
    justify-content: center;
    align-items: center;
} */

td.watchlistsTableHeaderRowData {
    background-color: lightsalmon;
}

td {
    border: 2px solid black;
    background-color: white;
}

td.watchlistsTableButtons {
    background-color: slategray;
    border-style: none;
}

#stock-name {
    margin-bottom: 2.5px
}

p#exchange,
p#currency {
    margin-top: 0px;
}

p#currency {
    margin-left: 10px;
}

#seeMatchingStockDetailsButton
{
    margin-right: 10px;
}

#matchingStockPriceChange,
#matchingStockPriceChangePercent {
    margin-left: 5px;
}

#stockSymbol {
    margin-left: 5px;
}

p#currentPrice {
    margin-right: 5px;
}

p#currentPrice,
h2#quotePrice,
h4#matchingStockPriceChange,
h4#matchingStockPriceChangePercent {
    margin-top: 0px;
}

h4#matchingStockPriceChange,
h4#matchingStockPriceChangePercent {
    margin-bottom: 0px;
}


#searchStocksLabelEl {
    margin-bottom: 2.5px;
}

.search-stocks-button-container {
    margin-top: 10px;
}

#chart_div {
    position: fixed;
    height: 350px;
    width: 350px;
    background-color: cyan;
    border: 2px solid black;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
}

#chart_div > div > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chart_div > div > div > div > svg > :nth-child(4) {
   display: none;
}

/* @media screen and (max-width: 750px) {
    .small {
        height: 250px;
        width: 250px;
    }
}

@media screen and (min-width: 751px) {
    .large {
        height: 500px;
        width: 500px;
    }
} */

@media screen and (max-width: 750px) {
    svg > :nth-child(3) {
        height: 200px;
        /* width: 325px; */
    }   
}
